<a href="https://colab.research.google.com/github/ttevhide/Programming-for-Data/blob/main/Sea_Level_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using numpy to look for a correlation between time data and sea level rise
---

### Data Source
Global Average Absolute Sea Level Change, 1880-2014 from the US Environmental Protection Agency using data from CSIRO, 2015; NOAA, 2015.
https://datahub.io/core/sea-level-rise

The data describes annual sea levels from 1880 to 2013.  Measures are adjusted using two standards: Commonwealth Scientific and Industrial Research Organisation(CSIRO) and National Oceanic and Atmospheric Administration (NOAA)  

Raw Data file:  https://raw.githubusercontent.com/freeCodeCamp/boilerplate-sea-level-predictor/master/epa-sea-level.csv

For this exercise:
*  import the pandas library
*  import the numpy library
*  read the csv dataset containing data on sea-levels from the year 1880 to 2013 into a dataframe (df)
*  use df.head() and df.info() to inspect the data and the column data types

In [9]:
import pandas as pd
import numpy as np

url="https://raw.githubusercontent.com/freeCodeCamp/boilerplate-sea-level-predictor/master/epa-sea-level.csv"

df=pd.read_csv(url)

display(df.head())
print("")
display(df.tail())
print("")
display(df.info())

,Year,CSIRO Adjusted Sea Level,Lower Error Bound,Upper Error Bound,NOAA Adjusted Sea Level
0,1880,0.000000,-0.952756,0.952756,NaN
1,1881,0.220472,-0.732283,1.173228,NaN
2,1882,-0.440945,-1.346457,0.464567,NaN
3,1883,-0.232283,-1.129921,0.665354,NaN
4,1884,0.590551,-0.283465,1.464567,NaN

,Year,CSIRO Adjusted Sea Level,Lower Error Bound,Upper Error Bound,NOAA Adjusted Sea Level
129,2009,8.586614,8.311024,8.862205,8.046354
130,2010,8.901575,8.618110,9.185039,8.122973
131,2011,8.964567,8.661417,9.267717,8.053065
132,2012,9.326772,8.992126,9.661417,8.457058
133,2013,8.980315,8.622047,9.338583,8.546648

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      134 non-null    int64
 1   CSIRO Adjusted Sea Level  134 non-null    float64
 2   Lower Error Bound         134 non-null    float64
 3   Upper Error Bound         134 non-null    float64
 4   NOAA Adjusted Sea Level   21 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 5.4 KB

None

### Then
---
1.  Calculate some statistics on the level array, eg:
*  mean
*  standard deviation
*  total 

2.  Use the fact that the arrays are aligned (e.g. the first number in the level array is linked to the first year in the year array and display:

*  the year with the biggest rise in level
*  the year with the lowest rise in level

*(**Hint**:  to do this you can use a new numpy function np.where() )*
 ```
np.where(array == value_to_find)
```
*There is some reference material [here](https://thispointer.com/find-the-index-of-a-value-in-numpy-array/)*

**Note**: ```np.where(...)``` will return a tuple containing all indexes where that value was found.  You can print all, or you can print the first value (it is likely that there will only be one in this case) using [0][0].  *With the correct code you should get an answer of 2012*


3.  Calculate the Pearson product-moment correlation coefficient between year and the rise in sea level.  (*Expected output:  0.98 when rounded to 2 decimal places*)

In [22]:
def sea_level_stats(sea_levels, years):
  import numpy as np
  sea_level= np.array(sea_levels, dtype=np.float64)
  # Without NaNs 
  nan_sea_level= np.isnan(sea_level)
  sea_level = sea_level[~nan_sea_level]

  sea_level_mean = sea_level.mean()
  sea_level_std = sea_level.std()
  sea_level_total = sea_level.sum()
  biggest_sea_rise_year = years.iloc[np.where(sea_level == sea_level.max())[0][0]]
  lowest_sea_rise_year = years.iloc[np.where(sea_level == sea_level.min())[0][0]]
  coef = np.corrcoef(sea_level, years.to_numpy()[~nan_sea_level])

  name = sea_levels.name.split()[0]

  
  print("\033[1m" + name + '\033[0m')
  print("Mean: ", sea_level_mean)
  print("Standard Deviation: ", sea_level_std)
  print("Total: ", sea_level_total)
  print("Biggest Sea Rise Year: ", biggest_sea_rise_year)
  print("Lowest Sea Rise Year: ", lowest_sea_rise_year)
  print("Pearson product-moment correlation coefficient: ", round(coef[0][1], 2))
  print("")

sea_level_stats(df["CSIRO Adjusted Sea Level"], df["Year"])
sea_level_stats(df["NOAA Adjusted Sea Level"], df["Year"])

CSIRO
Mean:  3.650340811880598
Standard Deviation:  2.476399631426498
Total:  489.1456687920001
Biggest Sea Rise Year:  2012
Lowest Sea Rise Year:  1882
Pearson product-moment correlation coefficient:  0.98

NOAA
Mean:  7.363745767333332
Standard Deviation:  0.6743841109052331
Total:  154.63866111399997
Biggest Sea Rise Year:  1900
Lowest Sea Rise Year:  1880
Pearson product-moment correlation coefficient:  0.99

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: